/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> WP-PAGENAVI PLUGIN <<<<<*/

.wp-pagenavi  {
	margin: 15px 0 15px 25px;
	font-size: 16px;
}

.wp-pagenavi .pages  {
	display: inline-block;
	border: none;
	margin: 0 20px 0 0;
	color: #666;
}

.wp-pagenavi .current  {
font-weight: bold;
	border: none;
	color: #666;
	padding: 10px;
	background: url(img/icons/pagenavicurrent.png) no-repeat center center;
}

.wp-pagenavi a  {
	border: none;
	color: #999;
	text-decoration: none;
	padding: 10px !important;
}
.wp-pagenavi a:hover  {

	background: url(img/icons/pagenavicurrent.png) no-repeat center center;
}